.body{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

/*CSS HEADER*/

.topo{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:1px solid silver;
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: space-between;
}

.topo > .logo{
    margin-left: 22px;
}

.topo > .icone{
    margin-right: 22px;
}

/* CSS QUADRO DE MENSAGENS */

.quadro-mensagens{
    margin-top: 90px;
    margin-bottom: 100px;
}

.mensagem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
}

.time{
    color: #AAAAAA;
    margin-right: 4px;
}

.from{
    margin-right: 4px;
    font-weight: bold;

}

.to{
    margin-right: 6px;
    margin-left: 4px;
    font-weight: bold;
}

.cinza{
    background-color: #DCDCDC;
}

.rosa{
    background-color: #ffdede;
}

.branco{
    background-color: #ffffff;
}

/*CSS MENU FOOTER*/

.menu-footer{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    border-top:1px solid silver;
    position: fixed;
    bottom: 0px;
    left: 0px;
    justify-content: space-between;
}

.menu-footer > input{
    margin-left: 18px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px;
    width: 95%;
}

.menu-footer > ion-icon{
    margin-right: 18px;
    margin-left: 18px;
}
