.body{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

/*CSS HEADER*/

.topo{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.topo > .logo{
    margin-left: 22px;
}

.topo > .icone{
    margin-right: 22px;
}

/* CSS QUADRO DE MENSAGENS */

.quadro-mensagens{
    margin-top: 90px;
    margin-bottom: 90px;
}

.mensagem{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
}

.time{
    color: #AAAAAA;
    margin-right: 4px;
}

.from{
    margin-right: 4px;
    font-weight: bold;

}

.to{
    margin-right: 6px;
    margin-left: 4px;
    font-weight: bold;
}

.cinza{
    background-color: #DCDCDC;
}

.rosa{
    background-color: #ffdede;
}

.branco{
    background-color: #ffffff;
}

/*CSS MENU LATERAL */

.menu-lateral{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 260px;
    height: 100vh;
    background-color: #FFFFFF;
    right: 0px;
    top: 0px;
    text-align: center;
}

.contato{
    left: 0;
    display: flex;
    margin-bottom: 5px;
}

.lock{
    left: 0;
    display: flex;
    margin-bottom: 5px;
}

.unlock{
    left: 0;
    display: flex;
}

/*CSS MENU FOOTER*/

.menu-footer{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.menu-footer > input{
    margin-left: 18px;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

.menu-footer > ion-icon{
    margin-right: 18px;
    margin-left: 18px;
    height: 26px;
    width: 26px;
    cursor: pointer;
}

/* CSS tela de entrada do bate papo */

.tela-entrada{
    position: relative;
    z-index: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;

}

.tela-entrada > input {
    width: 260px;
    height: 54px;
    border: 1px solid #D7D7D7;
    color: #AEAEAE;
    text-align: center;
    margin-top: 94px;
    border-radius: 4px;
}

.tela-entrada > button {
    background-color: #E7E7E7;
    color: #696969;
    text-align: center;
    width: 110px;
    height: 45px;
    border-radius: 9px;
    border-style: none;
    margin-top: 15px;
    cursor: pointer;
}

.none{
    display: none;
}